[user]
    email = n2.jima@gmail.com
    name = Naoki Nakajima

[alias]
    graph = log --graph --date=short
    cm = commit
    cmm = commit -m
    cma = commit --amend
    st = status
    co = checkout
    diffc = diff --cached
    br = branch

[credential]
    helper = /usr/lib/git-core/git-credential-gnome-keyring

[core]
	editor = vim
